@model PaginatedList<BusinessObject.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form asp-action="Index" asp-controller="Product" method="get">
                            <input id="search" name="search" value="@ViewBag.Search" type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @foreach (var item in ViewBag.Categories)
                                                {
                                                    @if (ViewBag.SelectedCate == item.CategoryId)
                                                    {
                                                        <li class="active">
                                                            <a href="?category=@item.CategoryId">@item.CategoryName</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="?category=@item.CategoryId">@item.CategoryName</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="?from=0&to=10">$0.00 - $10.00</a></li>
                                                <li><a href="?from=10&to=50">$10.00 - $50.00</a></li>
                                                <li><a href="?from=50&to=100">$50.00 - $100.00</a></li>
                                                <li><a href="?from=100&to=150">$100.00 - $150.00</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <form asp-action="Index" asp-controller="Product" method="get">
                                    <select onchange="this.form.submit()" name="sort">
                                        <option value="lowToHigh">Low to High</option>
                                        <option value="highToLow">High to Low</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model == null || !Model.Any())
                    {
                        <div class="text-danger">No results found!!</div>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item sale">
                                    <div class="product__item__pic set-bg" data-setbg="@Html.DisplayFor(modelItem => item.Image)">
                                        <span class="label">@Html.DisplayFor(modelItem => item.UnitsInStock)</span>
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="~/assets/img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@Html.DisplayFor(modelItem => item.ProductName)</h6>
                                        <a class="add-cart" asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">Product Detail</a>
                                        <h5>$@Math.Round(item.UnitPrice, 2)</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div>
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }
                        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="primary-btn @prevDisabled">Previous</a>
                        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="primary-btn @nextDisabled">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
